ol li {
    background-color: yellow;
}

ol li:nth-of-type(2n+1){
    text-transform: uppercase;
    }

ol li:nth-of-type(2n) {
    color:green;
}

body h1, h3 {
    color:red;
}

h1 em, h3 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

h1 h3 {
    color:red;
}

#languages li:nth-of-type(-n+3) {
    color:blue;
}

.java {
    background-color: pink;
}

#allies li:hover {
    font-weight: 700;
}

#allies li a[href*="stackoverflow"]:hover {
    color: orange;
}

#allies li a[href*="w3schools"]:hover {
    color: greenyellow;
}

#allies li a[href*="mozilla"]:hover {
    color: black;
}

#allies li a[href*="devdocs"]:hover {
    color: yellow;
}

#allies li a[href*="betrybe"]:hover {
    color: green;
}
